body {
    background-image: url("banana_background.png");
    background-size: 100px 100px;
    animation: banana-loop 4s linear infinite;
}
  
@keyframes banana-loop {
    0% {
        background-position: 0px 0px;
    }
    100% {
        background-position: 100px -100px;
    }
}

html, body {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#info_page {
    width: 700px;
    height: 90vh;
    min-height: 600px;
    padding: 20px;
    
    font-family: Arial, Helvetica, sans-serif;

    background-color: #F2D16D;
    border: 6px solid #104869;
    border-radius: 15px;
}

button {
    width: 125px;
    height: 70px;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    font-size: medium;

    background-color: #FFD782;
    border: 2px solid #000000;
    border-radius: 15px;
}

button:hover {
    cursor: pointer;
}

#canvas {
    outline: 2px solid black;
}

