body {
    background-image: url("banana_background.png");
    background-size: 100px 100px;
    animation: banana-loop 4s linear infinite;
}
  
@keyframes banana-loop {
    0% {
        background-position: 0px 0px;
    }
    100% {
        background-position: 100px -100px;
    }
}

html, body {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

canvas {
    outline: 2px solid black;
}
